@import "stylesheet.scss";

p {
  width: 80vw;
  margin: 100px 10vw;

  @include mobile {
    font-size: 1.2rem;
  }

  @include desktopSM {
    font-size: 1.6rem;
  }
  a {
    color: $green;
  }
  a:hover {
    color: $white;
  }
}
