body {
  font-family: "Mukta", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

#food-image {
  margin-top: 10vh;
}

#we-are-container {
  width: 100%;
  height: 60vh;
  font-size: 3rem;
  background: #333;
  color: white;
}

#we-are-container .header {
  padding: .7rem 0;
  margin-left: 20%;
  font-size: 8rem;
  color: #e55;
}

#we-are-container .body .green {
  margin-left: 40%;
  color: #5e5;
  padding: 0 1rem;
}

@media only screen and (min-width: 851px) {
  body {
    font-size: 1.5rem;
  }
  
  #we-are-container .body .blue {
    margin-left: 20%;
  }

  #we-are-container .body .green {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 850px) {
  
  body {
    font-size: .7rem;
  }
  
  #we-are-container {
    font-size: 1rem;
    max-height: 13rem;
  }
  
  #we-are-container .header {
    font-size: 2rem;
  }
  
  #we-are-container .body .blue {
    margin-left: 20%;
  }

  #we-are-container .body .green {
    margin-left: 20%;
  }
  
}

@media only screen and (max-width: 600px) {
  #navbar-brand {
    font-size: 1.2rem;
  }
}