@import "stylesheet.scss";

img {
  width: 100%;
  height: auto;
}

#retro-rest-img {
  padding-top: 50px;
}

#we-are-container {
  width: 100%;
  font-size: 1.2rem;
  color: $white;
  text-align: center;
  padding: 50px 0;

  .header {
    padding-bottom: 50px 0;
    font-size: 2rem;
    color: $red;
  }

  .body .green {
    color: $green;
    font-size: 1.4rem;
    padding-right: .5rem;
  }
}
