body {
  font-family: "Mukta", sans-serif;
  background: #333;
}

img {
  border-radius: 10px;
}

#locations-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background: #222;
  min-height: 40vh;
  margin-bottom: 10vh;
}

#locations-header #header {
  padding: 0 2rem;
  text-align: center;
}

.location-img-left {
    width: 100%;
}

.location-img-left img {  
  width: 50%;
  margin-left: 15%;
  z-index: -1;
}

.location-img-left .location-info {
    background: rgba(30, 30, 30, .5);
    border-radius: 10px;
    width: 50%;
    padding: 2rem 0;
    margin-left: 35%;
    position: relative;
    top: -6rem;
    text-align: center;
    color: white;
    z-index: 1;
}

.location-img-right {
    width: 100%;
}

.location-img-right img {  
  width: 50%;
  margin-left: 35%;
  z-index: -1;
}

.location-img-right .location-info {
    background: rgba(30, 30, 30, .5);
    border-radius: 10px;
    width: 50%;
    padding: 2rem 0;
    margin-left: 15%;
    position: relative;
    top: -6rem;
    text-align: center;
    color: white;
    z-index: 1;
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: .7rem;
  }
  
  .location-img-left img {  
    width: 80%;
    margin-left: 5%;
  }
  
  .location-img-right img {  
    width: 80%;
    margin-left: 15%;
  }
  
  .location-img-left .location-info {
    margin-left: 45%;
  }
  
  .location-img-right .location-info {
    margin-left: 5%; 
  }
}

@media only screen and (max-width: 600px) {
  #navbar-brand {
    font-size: 1.2rem;
  }
}