body {
  font-family: "Mukta", sans-serif;
}

#top-navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  opacity: 0.7;
}

#navbar-brand {
  color: #cc3363;
  font-size: 1.5rem;
}

#top-navbar a {
  color: #62c370;
}

#top-navbar a:hover {
  color: #ffffff;
}

#food-text img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

@media only screen and (max-width: 850px) {
}
