body {
  font-family: "Mukta", sans-serif;
  background: #555;
}

#top-navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 10vh;
  background: rgba(30, 30, 30, .7);
  padding: 0px 20px;
}

#navbar-brand {
  opacity: 1;
  color: #e55;
  font-size: 1.5rem;
}

#top-navbar a {
  opacity: 1;
  color: #5e5;
}

#top-navbar a:hover {
  color: white;
}

@media only screen and (max-width: 850px) {
  body {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 600px) {
  #navbar-brand {
    font-size: 1.2rem;
  }
  
  #food-text .text-container {
    margin-top: 20%;
  }
  #food-text h3 {
    font-size: 1.5rem;
  }
}